body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  font-family: "Helvetica Neue", sans-serif;
}

main {
  text-align: center;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

#calculatrice {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
}

.resultat {
  height: 50px;
  margin-bottom: 20px;
  font-size: 32px;
  color: #333;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
  background-color: #f1f1f1;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bouton,
.operator {
  width: 70px;
  height: 70px;
  margin: 5px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: #007aff; /* Couleur de bouton bleue */
  color: white;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.bouton:hover,
.operator:hover {
  background-color: #0051a8; /* Couleur plus foncée au survol */
}

.operator {
  background-color: #ff3b30; /* Couleur rouge pour les opérations */
}

.operator:hover {
  background-color: #e60000; /* Couleur rouge foncé au survol */
}

.bouton:active,
.operator:active {
  transform: scale(0.95); /* Effet d'appui */
}
